.softBanner {
    width: 99vw;
    height: 570px;
    object-fit:cover;
}
#softDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#softDesc h1 {
    font-size: 40px;
    color: grey;
}
#softSmallBanner {
    width: 25vw;
    height: 16vw;
    object-fit:cover;
}