footer {
    width: 100vw;
    height: 200px;
    margin-top: 200px;
    background: #1F1E1E;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
#footerWrapper {
    min-width: 1500px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 40px;
}
@media screen and (max-width:1555px) {
    #footerWrapper {
        min-width: 0px;
        width: 100%;
    }
}
.footerSection h3 {
    font-weight: normal;
    font-size: 23px;
    margin: 20px 0 20px 0;
}
.footerSection span {
    margin-bottom: 5px;
    cursor: pointer;
}
.footerSection span:hover {
    color: red;
}
.footerSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 150px;
}
#footerWrapper .footerSection:nth-child(3) {
    margin-left: 37vw;
}