header {
    width: 99vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0 15px 0;
    height: 65.66px;
    transition: 0.4s all ease-in;
}
.expanded {
    height: 230px;
}
#headLogo {
    height: 65.66px;
    width: 200px;
    cursor: pointer;
}
#headerShell {
    min-width: 1500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#headLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 40.66px;
    border: solid 0px #e087a2;
    transition: border-width 0.6s linear;
}
.headLink:hover {
    transition: all 0.4s ease-out;
    color: red;
    border-bottom: 1px solid red;
    height: 100%;
}
.headLink {
    margin-left: 1.5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 65.66px;
}
@media screen and (max-width:1555px) {
    #headerShell {
        min-width: 0px;
        width: 100%;
    }
    header {
        width: 100vw;
        padding-right: 2vw;
        padding-left: 2vw;
    }
    #downWrapper {
        min-width: 0px !important;
        width: 100vw;
        padding:  0 1vw 0 1vw !important;
    }
    .cross {
        right: 10px;
    }
}
#downHeader {
    width: 100vw;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgb(237, 237, 239) 38%, rgb(242, 241, 241) 100%); 
    height: 160px;
}
#headLinks img {
    display: none;
    margin-left: 1.5vw;
}
.cross {
    width: 30px;
    height: 30px;
    display: inline-block !important;
    cursor: pointer;
}
#downWrapper {
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 1500px;
    padding:0 0 20px 0 ;
    margin: 0 auto 0 auto;
}
.headRow {
    display: flex;
    flex-direction: column;
    margin-right: 2.5vw;
    margin-top: 0.7vw;
}
.headRow h3 {
    color: red;
    font-weight: normal;
    margin-bottom: 8px;
    font-size: 17px;
}
.productItem{
    margin-bottom: 4px;
    cursor: pointer;
    font-size: 13px;
}
.productItem:hover {
    color: red;
}