#banner {
    width: 100vw;
    height: 31.25vw;
    background-image: url("../../src/media/banner.png");
    background-size: 100%;
    cursor: pointer;
    transition: 1s all ease-in;
    background-position:center;
}
#banner:hover {
    background-size: 105%;
}
.slide {
    display: flex;
    justify-content: center;
}
.smallBanner {
    height: 31.25vw;
    width: 75vw;
    cursor: pointer;
}
.swiper-button-next {
    right:20.83vw !important;
}
.swiper-button-prev {
    left: 20.83vw !important;
}
#story {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75vw;
    margin: 150px auto 0 auto;
}
#story h1 {
    font-size: 40px;
}
#storyBlocks,.storyImgs,#storyImgs {
    display: flex;
    
}
.successBut {
    width: 12vw;
    height: 163px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e3e3e3;
    cursor: pointer;
    transition: 0.2s all ease-in;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 1vw;
    padding-bottom: 10px;
}
.successBut:hover {
    background-color: white;
    border-bottom: 4px solid red;
}
#butBlock .successBut:nth-child(1) {
    background-image: url("../media/but1.png");
}
#butBlock .successBut:nth-child(2) {
    background-image: url("../media/but2.png");
}
#butBlock .successBut:nth-child(3) {
    background-image: url("../media/but3.png");
}
#fstoryImg {
    background-image: url("../media/success1.jpg");
    width: 20vw;
    height: 100%;
    margin-left: 15px;
}
#secstoryImg {
    background-image: url("../media/success2.jpg");
    width: 40vw;
    height: 100%;
    margin-left: 15px;
}
#secstoryImg, #fstoryImg {
    transition: 0.75s all ease-in;
}
#fstoryImg:hover {
    width: 40vw;
    box-shadow: inset 0px 0px 50px 50px rgba(0,0,0,0.17);
}
#fstoryImg:hover + #secstoryImg{
    width: 20vw;
}
#secstoryImg:hover {
    width: 40vw;
    box-shadow: inset 0px 0px 50px 50px rgba(0,0,0,0.17);
}
#secstoryImg:hover + #fstoryImg{
    width: 20vw;
}
#learnMore {
    margin-left: calc(50vw - 95px);
    margin-top: 80px;
    background-color: white;
    color: red;
    width: 190px;
    height: 50px;
    border: 1px solid red;
    font-size: 15px;
    cursor: pointer;
}
#learnMore:hover {
    background-color: red;
    color: white;
}
