#owners {
    max-width: 1300px;
    margin: 5vw auto 3vw auto;
    padding: 0 1vw 0 1vw;
}
#ownerPhoto {
    height: 20vw;
    width: 15vw;
    object-fit: cover;
    margin-right: 2vw;
}
#headOwner {
    display: flex;
    align-items: center;
}
#ownerText {
    display: flex;
    flex-direction: column;
    margin: 5vw auto 3vw auto;
    letter-spacing: 1px;
    line-height: 20px;
}
#icom {
    width: 11vw;
    height: 3.2vw;
    object-fit: cover;
    margin-top: 1vw;
}
