#partnerSec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}
#partnerSec h1 {
    color: gray;
    font-size: 30px;
    margin-bottom: 60px;
}
.formColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#partnerForm, #termsWrapper {
    min-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.formColumn input, select {
    border: 1px solid grey;
    width: 18vw;
    height: 3.2vw;
    margin-bottom: 0.8vw;
    -webkit-box-shadow: inset 0px 0px 13px 1px rgba(0,0,0,0.15); 
    box-shadow: inset 0px 0px 7px 1px rgba(0,0,0,0.15);
    font-size: 16px;
    padding: 5px 5px 5px 10px;
}

#send {
    background-color: red;
    border: none;
    width: 18vw;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
}
label {
    cursor: pointer;
}
#termsWrapper {
    margin-top: 0.8vw;
} 
@media screen and (max-width:1555px) {
    #partnerForm, #termsWrapper {
        min-width: 0px;
        width: 98vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .formColumn input, select {
        width: 22.5vw;
        height: 5vw;
    }
    #bigInp {
        height: 10.8vw;
    }
    label {
        font-size: 1.2vw;
    }
    #send {
        width: 17vw;
    }
}